---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  bugprone-*,
  misc-*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -misc-non-private-member-variables-in-classes

WarningsAsErrors: ''

HeaderFilterRegex: '.*'

CheckOptions:
  - key:   modernize-use-nullptr.NullMacros
    value: 'NULL'
  - key:   performance-move-const-arg.CheckTriviallyCopyableMove
    value: 'true'
  - key:   readability-identifier-naming.ClassCase
    value: 'CamelCase'
  - key:   readability-identifier-naming.FunctionCase
    value: 'camelCase'
  - key:   readability-identifier-naming.VariableCase
    value: 'camelCase'
  - key:   readability-identifier-naming.MemberPrefix
    value: 'm_'
  - key:   readability-identifier-naming.ConstantCase
    value: 'UPPER_CASE'
...
