---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20
IndentWidth: 4
ColumnLimit: 100
ContinuationIndentWidth: 4

# Braces
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

# Includes
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:      "^<Q"
    Priority:   2
    SortPriority: 2
  - Regex:      "^<"
    Priority:   3
  - Regex:      "^\".*\\.h\""
    Priority:   1

# Spaces
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: Never
SpacesInCStyleCastParentheses: false

# Alignment
AlignConsecutiveAssignments:
  Enabled: false
AlignConsecutiveDeclarations:
  Enabled: false

# Namespace
NamespaceIndentation: None
CompactNamespaces: false

# Access modifiers
AccessModifierOffset: -4

# Comments
ReflowComments: true

# Trailing
InsertTrailingCommas: None
...
